<!-- Header -->
<header id="header"><div class="logo"><a href="#">Diana Camacho <span>Terapias holísticas</span></a></div>
</header><!-- Main --><section id="main"><div class="inner">

  <!-- One -->
  <section id="one" class="wrapper style1"><div class="image fit flush">
    <img src="assets/images/pic02.jpg" alt="" width="1177" height="443"></div>
    <header class="special">
      <p>Inicie mi trabajo de desarrollo personal hace 20 años, este camino  me ha  Permitido conocerme y ser una mejor versión.

        Es un honor acompañarte con herramientas y terapias energéticas de sanacion que te permitirán tener una vida más plena y feliz.

        Estoy aquí para guiarte y apoyarte en tu búsqueda de equilibrio y bienestar.</p>
    </header>
  </section>
  <!-- Two -->
  <section id="three" class="wrapper"><div class="spotlight alt">
  <div class="image flush"><img src="assets/images/pic07.png" alt="" width="700" height="525"></div>
  <div class="inner">
    <h3>Terapias de sanación energéticas</h3>
    <p>Práctica que se basa en la idea de que nuestro cuerpo, mente y espíritu están interconectados y que el equilibrio en los sistemas energéticos de nuestro cuerpo es crucial para la salud y el bienestar. Esta práctica se enfoca en trabajar con la energía que se cree que fluye a través de nuestro cuerpo para promover la curación y el equilibrio</p>
  </div>
</div>
  <div class="spotlight">
    <div class="image flush"><img src="assets/images/pic07.jpg" alt="" width="700" height="525"></div>
    <div class="inner">
      <h3>Despertar de conciencia</h3>
      <p>Proceso de expansión y evolución en la comprensión y percepción de uno mismo y del mundo. Este concepto se encuentra en varias tradiciones espirituales, filosóficas y psicológicas, y puede implicar una serie de experiencias y cambios significativos en la forma en que una persona ve la vida</p>
    </div>
  </div>
  <div class="spotlight alt">
    <div class="image flush"><img src="assets/images/pic08.jpg" alt="" width="700" height="525"></div>
    <div class="inner">
      <h3>Sanación con rosas</h3>
      <p>Técnica dentro del ámbito de la sanación energética y espiritual que se centra en el uso de la energía y las propiedades simbólicas de las rosas para promover el bienestar y la curación. La práctica se basa en la idea de que las rosas, con su belleza, fragancia y simbolismo, pueden tener efectos positivos sobre el cuerpo y la mente</p>
    </div>
  </div>
</section></div>
</section><!-- Footer --><footer id="footer"><div class="container">
  <ul class="icons">
    <li><a href="https://www.facebook.com/profile.php?id=61565729943957&mibextid=kFxxJD" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/dianacaholistica/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://api.whatsapp.com/send?phone=573143341155" class="icon fa-whatsapp"><span class="label">Whatsapp</span></a></li>
  </ul></div>
</footer><div class="copyright">
  Site edit with <a href="https://www.facebook.com/villateabt?locale=es_LA">ART BUSINESS TECHNOLOGY</a>
</div>
